/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 * 
 * ----------------------------------------------------- 
*/

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#backlight,
#network,
#cpu,
#memory,
#custom-bluelight-sunset,
#bluetooth,
#tray,
#workspaces,

#backlight {
    background: #1e1e2e;
    padding: 0px 6px;
    border-radius: 0px 10px 10px 0px;
}

#backlight {
    margin-right: 6px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 6px;
    padding-right: 0px;
    padding-left: 3px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 6px;
}

#network {
    color:  #a6adc8;
    border-radius: 10px 0px 0px 10px;
}

#custom-bluelight-sunset {
    color:#a6adc8;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #a6adc8;   
    border-radius: 0px 0px 0px 0px;
}

#battery {
    color:#a6adc8;
    border-radius: 0px 10px 10px 0px;
    margin-right: 6px;
}

#bluetooth {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-right: 6px;
}