@import url('/home/supermann/.cache/wal/colors-waybar.css');

window {
    background-image: url("/home/supermann/Pictures/wallpaper/default_blur.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(17, 17, 27, 0.9);
    border-radius: 10px;
    padding: 20px;
}

button {
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 24px;
    background-color: #11111b;
    border: 2px solid @color9;
    border-radius: 50px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    transition: background-color 0.9s cubic-bezier(0,0,1,1);
}

button:hover,
button:focus,
button:active {
    background-color: #cdd6f4;
    color: #000000;
}

#lock {
    background-image: url("/home/supermann/.config/wlogout/icons/lock.png");
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#shutdown {
    background-image: url("/home/supermann/.config/wlogout/icons/power.png");
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#logout {
    background-image: url("/home/supermann/.config/wlogout/icons/logout.png");
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#reboot {

    background-image: url("/home/supermann/.config/wlogout/icons/restart.png");
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

#lock:focus {
    margin : 5px 5px 5px 200px;

}
#shutdown:focus {
    margin : 5px 200px 5px 5px;
}
#logout:focus {
    margin : 5px 200px 5px 5px;
}
#reboot:focus {
    margin : 5px 5px 5px 200px;
}